body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div.ui.navbar{
  background-color: #6f4e37 ;
}
/* .active{
  background-color: pink;
} */

.ambience{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
#root{
  height: 100%;
}
#myVideo {
  width: 70%;
}
.favorite{
  width: 10%;
  position: absolute;
  left: 10px;
  top: 10px;
}
.bevstate{
  font-weight: 400;
  position: fixed;
  top:20%;
  left:5%;
  border: none;
  border-radius: .28571429rem;
  padding: 10px 5px;
  background-color: white;
  width: 150px;
  overflow-wrap: normal;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5
}